

<div class="root">
@*<h1 class="bg-info text-white">Login</h1>*@
<img />
<div class="text-danger" asp-validation-summary="All"></div>

    <div class="icon">
        <img src="~/css/DAS.png">
    </div>
    <div class="title">
        <p>Một sản phẩm của DAS Việt Nam</p>
    </div>
   
    <div class="form">
        <form  method="post">
            <div class="form-group">
                <input placeholder="Tên đăng nhập" name="username" class="form-control" />
            </div>
            <div class="form-group">
                <input placeholder="Mật khẩu" name="password" type="password" class="form-control" />
            </div>
            <a href="/Account/Forgotpassword" class="Button">Quên mật khẩu?</a>
            <div class="bottom">
                <button class="buttonLogin" type="submit">Đăng nhập</button>
            </div>
        </form>
       
    </div>
    <div class="bottom2">
        <p>Copyright 2023, DAS Việt Nam</p>
    </div>
</div>

