@model ResetPasswordModel

@Html.HiddenFor(p=> p.UserId)
@Html.HiddenFor(p=> p.Token)

<div class="root">
    @*<h1 class="bg-info text-white">Login</h1>*@
    <img />
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="icon">
        <img src="~/css/DAS.png">
    </div>
    <div class="title">
        <p>Một sản phẩm của DAS Việt Nam</p>
    </div>

    <div class="form">
        <form method="post">
            <div class="form-group">
                @Html.TextBoxFor(p=> p.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
            </div>
            <div class="bottom">
                <button class="buttonLogin" type="submit">Đổi mật khẩu</button>
            </div>
        </form>

    </div>
    <div class="bottom2">
        <p>Copyright 2023, DAS Việt Nam</p>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}