.list {
    display: flex;

    background-color: #ffffff;
    .listContainer {
      flex: 6;
      // margin-top: 5px;
      // margin-bottom: 5px;
      // margin-right: 5px;
      background-color: #f9fbfd;
    }
  }