.list {
    display: flex,block;
    max-width: fit-content;
    background-color: #ffffff;
    .listContainer {
      display: block;
      width: auto;
      flex: 1;
      background-color: #f9fbfd;
    }
  }